Source: poweriso
Section: admin
Priority: extra
Maintainer: Oleg Asonov <oleg.asonov@flant.ru>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.4
Homepage: http://flant.ru

Package: poweriso
Architecture: all
Depends: zenity
Description: poweriso.
 
